# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
# from google.colab import files

# csv_file = files.upload()

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('./Resources/applicants_data.csv')
)

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN", "NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables), encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:7]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(["IS_SUCCESSFUL"], axis=1)

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = "relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation = "linear"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 936
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 1,017
Trainable params: 1,017
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
  1/804 [..............................] - ETA: 0s - loss: 2.5959 - accuracy: 0.4062WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.0010s). Check your callbacks.
804/804 [==============================] - 1s 866us/step - loss: 1.7870 - accuracy: 0.6150
Epoch 2/50
804/804 [==============================] - 1s 660us/step - loss: 1.6417 - accuracy: 0.6532
Epoch 3/50
804/804 [==============================] - 1s 715us/step - loss: 1.4638 - accuracy: 0.6721
Epoch 4/50
804/804 [==============================] - 1s 634us/step - loss: 1.2691 - accuracy: 0.6828
Epoch 5/50
804/804 [==============================] - 1s 752us/step - loss: 1.2490 - accuracy: 0.6892
Epoch 6/50
804/804 [==============================] - 1s 628us/step - loss: 1.2418 - accuracy: 0.6950
Epoch 7/50
804/804 [==============================] - 1s 692us/step - loss: 1.2325 - accuracy: 0.6957
Epoch 8/50
804/804 [==============================] - 1s 739us/step - loss: 1.1540 - accuracy: 0.7046
Epoch 9/50
804/804 [==============================] - 1s 811us/step - loss: 1.1170 - accuracy: 0.7089
Epoch 10/50
804/804 [==============================] - 1s 716us/step - loss: 1.1153 - accuracy: 0.7108
Epoch 11/50
804/804 [==============================] - 1s 742us/step - loss: 1.1011 - accuracy: 0.6993
Epoch 12/50
804/804 [==============================] - 1s 680us/step - loss: 1.1013 - accuracy: 0.7098
Epoch 13/50
804/804 [==============================] - 0s 608us/step - loss: 1.0870 - accuracy: 0.7133
Epoch 14/50
804/804 [==============================] - 1s 643us/step - loss: 1.0632 - accuracy: 0.7067
Epoch 15/50
804/804 [==============================] - 1s 679us/step - loss: 0.8791 - accuracy: 0.7167
Epoch 16/50
804/804 [==============================] - 1s 708us/step - loss: 0.8485 - accuracy: 0.7191
Epoch 17/50
804/804 [==============================] - 1s 651us/step - loss: 0.8504 - accuracy: 0.7206
Epoch 18/50
804/804 [==============================] - 1s 692us/step - loss: 0.8479 - accuracy: 0.7208
Epoch 19/50
804/804 [==============================] - 0s 618us/step - loss: 0.8416 - accuracy: 0.7187
Epoch 20/50
804/804 [==============================] - 1s 626us/step - loss: 0.8319 - accuracy: 0.7175
Epoch 21/50
804/804 [==============================] - 1s 682us/step - loss: 0.8215 - accuracy: 0.7200
Epoch 22/50
804/804 [==============================] - 1s 632us/step - loss: 0.7888 - accuracy: 0.7232
Epoch 23/50
804/804 [==============================] - 1s 638us/step - loss: 0.7928 - accuracy: 0.7222
Epoch 24/50
804/804 [==============================] - 1s 657us/step - loss: 0.7861 - accuracy: 0.7204
Epoch 25/50
804/804 [==============================] - 0s 606us/step - loss: 0.7851 - accuracy: 0.7106
Epoch 26/50
804/804 [==============================] - 0s 607us/step - loss: 0.7754 - accuracy: 0.7235
Epoch 27/50
804/804 [==============================] - 0s 617us/step - loss: 0.7735 - accuracy: 0.7220
Epoch 28/50
804/804 [==============================] - 0s 605us/step - loss: 0.7833 - accuracy: 0.7218
Epoch 29/50
804/804 [==============================] - 1s 788us/step - loss: 0.7650 - accuracy: 0.7235
Epoch 30/50
804/804 [==============================] - 0s 614us/step - loss: 0.7660 - accuracy: 0.7249
Epoch 31/50
804/804 [==============================] - 0s 612us/step - loss: 0.7681 - accuracy: 0.7222
Epoch 32/50
804/804 [==============================] - 0s 619us/step - loss: 0.7618 - accuracy: 0.7253
Epoch 33/50
804/804 [==============================] - 1s 630us/step - loss: 0.7677 - accuracy: 0.7024
Epoch 34/50
804/804 [==============================] - 0s 583us/step - loss: 0.7491 - accuracy: 0.7191
Epoch 35/50
804/804 [==============================] - 1s 623us/step - loss: 0.7463 - accuracy: 0.7275
Epoch 36/50
804/804 [==============================] - 0s 602us/step - loss: 0.7556 - accuracy: 0.7244
Epoch 37/50
804/804 [==============================] - 0s 615us/step - loss: 0.7449 - accuracy: 0.7250
Epoch 38/50
804/804 [==============================] - 0s 605us/step - loss: 0.7340 - accuracy: 0.7156
Epoch 39/50
804/804 [==============================] - 1s 626us/step - loss: 0.7127 - accuracy: 0.7257
Epoch 40/50
804/804 [==============================] - 0s 614us/step - loss: 0.7115 - accuracy: 0.7257
Epoch 41/50
804/804 [==============================] - 0s 614us/step - loss: 0.7121 - accuracy: 0.7266
Epoch 42/50
804/804 [==============================] - 1s 631us/step - loss: 0.7146 - accuracy: 0.7234
Epoch 43/50
804/804 [==============================] - 0s 604us/step - loss: 0.7107 - accuracy: 0.7261
Epoch 44/50
804/804 [==============================] - 0s 613us/step - loss: 0.7079 - accuracy: 0.7260
Epoch 45/50
804/804 [==============================] - 0s 607us/step - loss: 0.7118 - accuracy: 0.7279
Epoch 46/50
804/804 [==============================] - 0s 571us/step - loss: 0.7096 - accuracy: 0.7268
Epoch 47/50
804/804 [==============================] - 1s 685us/step - loss: 0.7107 - accuracy: 0.7264
Epoch 48/50
804/804 [==============================] - 1s 645us/step - loss: 0.7168 - accuracy: 0.7238
Epoch 49/50
804/804 [==============================] - 1s 682us/step - loss: 0.7072 - accuracy: 0.7257
Epoch 50/50
804/804 [==============================] - 1s 693us/step - loss: 0.7074 - accuracy: 0.7259

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7137 - accuracy: 0.7258
Loss: 0.7137097120285034, Accuracy: 0.7258309125900269

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = "./Resources/AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 16

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

16

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, input_dim = number_input_features, activation = "relu"))

# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "linear"))

# Check the structure of the model
nn_A1.summary

In [33]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 601us/step - loss: 2.7393 - accuracy: 0.5710
Epoch 2/50
804/804 [==============================] - 0s 604us/step - loss: 1.7651 - accuracy: 0.6417
Epoch 3/50
804/804 [==============================] - 1s 629us/step - loss: 1.4357 - accuracy: 0.6831
Epoch 4/50
804/804 [==============================] - 0s 593us/step - loss: 1.4001 - accuracy: 0.6889
Epoch 5/50
804/804 [==============================] - 1s 711us/step - loss: 1.3993 - accuracy: 0.6869
Epoch 6/50
804/804 [==============================] - 1s 656us/step - loss: 1.3753 - accuracy: 0.6894
Epoch 7/50
804/804 [==============================] - 0s 609us/step - loss: 1.3504 - accuracy: 0.6929
Epoch 8/50
804/804 [==============================] - 1s 664us/step - loss: 1.2690 - accuracy: 0.6897
Epoch 9/50
804/804 [==============================] - 0s 621us/step - loss: 1.1973 - accuracy: 0.6876
Epoch 10/50
804/804 [==============================] - 1s 721us/step - loss: 1.4831 - accuracy: 0.6494
Epoch 11/50
804/804 [==============================] - 1s 688us/step - loss: 1.1499 - accuracy: 0.6880
Epoch 12/50
804/804 [==============================] - 1s 630us/step - loss: 1.1075 - accuracy: 0.7095
Epoch 13/50
804/804 [==============================] - 1s 642us/step - loss: 1.1289 - accuracy: 0.7054
Epoch 14/50
804/804 [==============================] - 1s 646us/step - loss: 1.1184 - accuracy: 0.7091
Epoch 15/50
804/804 [==============================] - 0s 586us/step - loss: 1.1168 - accuracy: 0.7116
Epoch 16/50
804/804 [==============================] - 1s 722us/step - loss: 1.1207 - accuracy: 0.7097
Epoch 17/50
804/804 [==============================] - 1s 644us/step - loss: 1.1127 - accuracy: 0.7096
Epoch 18/50
804/804 [==============================] - 1s 664us/step - loss: 1.0780 - accuracy: 0.7066
Epoch 19/50
804/804 [==============================] - 1s 658us/step - loss: 1.0500 - accuracy: 0.7120
Epoch 20/50
804/804 [==============================] - 1s 852us/step - loss: 0.9884 - accuracy: 0.7107
Epoch 21/50
804/804 [==============================] - ETA: 0s - loss: 0.9150 - accuracy: 0.70 - 1s 672us/step - loss: 0.9126 - accuracy: 0.7065
Epoch 22/50
804/804 [==============================] - 1s 646us/step - loss: 0.8891 - accuracy: 0.7164
Epoch 23/50
804/804 [==============================] - 1s 664us/step - loss: 0.9093 - accuracy: 0.7103
Epoch 24/50
804/804 [==============================] - 1s 699us/step - loss: 0.8844 - accuracy: 0.7155
Epoch 25/50
804/804 [==============================] - 0s 615us/step - loss: 0.8848 - accuracy: 0.7172
Epoch 26/50
804/804 [==============================] - 1s 629us/step - loss: 0.7701 - accuracy: 0.7254
Epoch 27/50
804/804 [==============================] - 1s 700us/step - loss: 0.7164 - accuracy: 0.7262
Epoch 28/50
804/804 [==============================] - 1s 640us/step - loss: 0.7156 - accuracy: 0.7275
Epoch 29/50
804/804 [==============================] - 0s 590us/step - loss: 0.6962 - accuracy: 0.7282
Epoch 30/50
804/804 [==============================] - 1s 639us/step - loss: 0.7056 - accuracy: 0.7265
Epoch 31/50
804/804 [==============================] - 1s 655us/step - loss: 0.6972 - accuracy: 0.7297
Epoch 32/50
804/804 [==============================] - 0s 602us/step - loss: 0.6781 - accuracy: 0.7257
Epoch 33/50
804/804 [==============================] - 0s 621us/step - loss: 0.6739 - accuracy: 0.7197
Epoch 34/50
804/804 [==============================] - 1s 718us/step - loss: 0.6793 - accuracy: 0.7200
Epoch 35/50
804/804 [==============================] - 0s 595us/step - loss: 0.6653 - accuracy: 0.7296
Epoch 36/50
804/804 [==============================] - 0s 621us/step - loss: 0.6653 - accuracy: 0.7307
Epoch 37/50
804/804 [==============================] - 0s 615us/step - loss: 0.6651 - accuracy: 0.7302
Epoch 38/50
804/804 [==============================] - 0s 595us/step - loss: 0.6642 - accuracy: 0.7307
Epoch 39/50
804/804 [==============================] - 0s 584us/step - loss: 0.6694 - accuracy: 0.7295
Epoch 40/50
804/804 [==============================] - 0s 609us/step - loss: 0.6615 - accuracy: 0.7306
Epoch 41/50
804/804 [==============================] - 0s 569us/step - loss: 0.6680 - accuracy: 0.7202
Epoch 42/50
804/804 [==============================] - 0s 607us/step - loss: 0.6579 - accuracy: 0.7299
Epoch 43/50
804/804 [==============================] - 0s 620us/step - loss: 0.6510 - accuracy: 0.7298
Epoch 44/50
804/804 [==============================] - 1s 639us/step - loss: 0.6374 - accuracy: 0.7312
Epoch 45/50
804/804 [==============================] - 0s 595us/step - loss: 0.6511 - accuracy: 0.7306
Epoch 46/50
804/804 [==============================] - 0s 597us/step - loss: 0.6486 - accuracy: 0.7306
Epoch 47/50
804/804 [==============================] - 0s 587us/step - loss: 0.6479 - accuracy: 0.7318
Epoch 48/50
804/804 [==============================] - 0s 585us/step - loss: 0.6477 - accuracy: 0.7315
Epoch 49/50
804/804 [==============================] - 0s 603us/step - loss: 0.6498 - accuracy: 0.7288
Epoch 50/50
804/804 [==============================] - 0s 583us/step - loss: 0.6602 - accuracy: 0.7275

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 2

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 32

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

32

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer1_A2, input_dim = number_input_features, activation = "relu"))

# Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation = "linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 32)                3744
_________________________________________________________________
dense_6 (Dense)              (None, 2)                 66
=================================================================
Total params: 3,810
Trainable params: 3,810
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn_A2.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 0s 590us/step - loss: 1.5450 - accuracy: 0.4842
Epoch 2/50
804/804 [==============================] - 1s 707us/step - loss: 1.2258 - accuracy: 0.5241
Epoch 3/50
804/804 [==============================] - 1s 654us/step - loss: 1.1415 - accuracy: 0.4909
Epoch 4/50
804/804 [==============================] - 1s 638us/step - loss: 1.0661 - accuracy: 0.5243
Epoch 5/50
804/804 [==============================] - 1s 672us/step - loss: 0.9888 - accuracy: 0.5454
Epoch 6/50
804/804 [==============================] - 1s 654us/step - loss: 0.9639 - accuracy: 0.5108
Epoch 7/50
804/804 [==============================] - 0s 622us/step - loss: 0.9476 - accuracy: 0.4999
Epoch 8/50
804/804 [==============================] - 0s 606us/step - loss: 0.9594 - accuracy: 0.5180
Epoch 9/50
804/804 [==============================] - 0s 609us/step - loss: 0.9578 - accuracy: 0.4881
Epoch 10/50
804/804 [==============================] - 0s 607us/step - loss: 0.9528 - accuracy: 0.5008
Epoch 11/50
804/804 [==============================] - 1s 801us/step - loss: 0.9491 - accuracy: 0.4791
Epoch 12/50
804/804 [==============================] - 1s 685us/step - loss: 1.1030 - accuracy: 0.5056
Epoch 13/50
804/804 [==============================] - 0s 580us/step - loss: 1.1265 - accuracy: 0.5121
Epoch 14/50
804/804 [==============================] - 0s 608us/step - loss: 1.0943 - accuracy: 0.5041
Epoch 15/50
804/804 [==============================] - 0s 604us/step - loss: 1.1090 - accuracy: 0.5044
Epoch 16/50
804/804 [==============================] - 0s 615us/step - loss: 1.0951 - accuracy: 0.5340
Epoch 17/50
804/804 [==============================] - 0s 620us/step - loss: 1.0686 - accuracy: 0.5026
Epoch 18/50
804/804 [==============================] - 0s 598us/step - loss: 1.0621 - accuracy: 0.4676
Epoch 19/50
804/804 [==============================] - 0s 582us/step - loss: 1.0521 - accuracy: 0.4904
Epoch 20/50
804/804 [==============================] - 0s 608us/step - loss: 0.9200 - accuracy: 0.5185
Epoch 21/50
804/804 [==============================] - 0s 607us/step - loss: 0.9021 - accuracy: 0.5264
Epoch 22/50
804/804 [==============================] - 1s 626us/step - loss: 0.8938 - accuracy: 0.5211
Epoch 23/50
804/804 [==============================] - 1s 635us/step - loss: 0.8934 - accuracy: 0.4813
Epoch 24/50
804/804 [==============================] - 0s 613us/step - loss: 0.8728 - accuracy: 0.4635
Epoch 25/50
804/804 [==============================] - 0s 605us/step - loss: 0.8416 - accuracy: 0.5140
Epoch 26/50
804/804 [==============================] - 0s 569us/step - loss: 0.8795 - accuracy: 0.5182
Epoch 27/50
804/804 [==============================] - 0s 612us/step - loss: 0.9228 - accuracy: 0.4157
Epoch 28/50
804/804 [==============================] - 1s 628us/step - loss: 0.8758 - accuracy: 0.5031
Epoch 29/50
804/804 [==============================] - 0s 602us/step - loss: 0.8698 - accuracy: 0.4561
Epoch 30/50
804/804 [==============================] - 0s 605us/step - loss: 0.9976 - accuracy: 0.5214
Epoch 31/50
804/804 [==============================] - 0s 615us/step - loss: 0.8365 - accuracy: 0.4614
Epoch 32/50
804/804 [==============================] - 0s 607us/step - loss: 0.7856 - accuracy: 0.5261
Epoch 33/50
804/804 [==============================] - 1s 624us/step - loss: 0.8023 - accuracy: 0.4392
Epoch 34/50
804/804 [==============================] - 0s 595us/step - loss: 0.9016 - accuracy: 0.4783
Epoch 35/50
804/804 [==============================] - 0s 603us/step - loss: 0.8516 - accuracy: 0.4904
Epoch 36/50
804/804 [==============================] - 0s 604us/step - loss: 0.8007 - accuracy: 0.5579
Epoch 37/50
804/804 [==============================] - 0s 618us/step - loss: 0.7658 - accuracy: 0.5320
Epoch 38/50
804/804 [==============================] - 0s 591us/step - loss: 0.7430 - accuracy: 0.4829
Epoch 39/50
804/804 [==============================] - 0s 578us/step - loss: 0.7324 - accuracy: 0.4943
Epoch 40/50
804/804 [==============================] - 0s 613us/step - loss: 0.8248 - accuracy: 0.5107
Epoch 41/50
804/804 [==============================] - 1s 713us/step - loss: 0.7834 - accuracy: 0.4584
Epoch 42/50
804/804 [==============================] - 1s 696us/step - loss: 0.7787 - accuracy: 0.4768
Epoch 43/50
804/804 [==============================] - 0s 599us/step - loss: 0.7727 - accuracy: 0.5429
Epoch 44/50
804/804 [==============================] - 0s 621us/step - loss: 0.7625 - accuracy: 0.5531
Epoch 45/50
804/804 [==============================] - 0s 609us/step - loss: 0.7688 - accuracy: 0.5468
Epoch 46/50
804/804 [==============================] - 0s 598us/step - loss: 0.7575 - accuracy: 0.5323
Epoch 47/50
804/804 [==============================] - 0s 615us/step - loss: 0.7830 - accuracy: 0.5368
Epoch 48/50
804/804 [==============================] - 0s 610us/step - loss: 0.7577 - accuracy: 0.5154
Epoch 49/50
804/804 [==============================] - 0s 585us/step - loss: 0.7562 - accuracy: 0.4660
Epoch 50/50
804/804 [==============================] - 0s 595us/step - loss: 0.7539 - accuracy: 0.5218

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.7137 - accuracy: 0.7258
Loss: 0.7137097120285034, Accuracy: 0.7258309125900269

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.6375 - accuracy: 0.7271
Loss: 0.6375387907028198, Accuracy: 0.7271137237548828

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose = 2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.7534 - accuracy: 0.4366
Loss: 0.7534199357032776, Accuracy: 0.4366180896759033

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = "./Resources/AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = "./Resources/AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)